<h1>Pagina de editare</h1>
<div class="container">
  <div class="publishers">
  <p>Edituri</p>
  <table class="table table-striped ">
    <thead>
    <tr>
      <th scope="col" style="width:10%">ID</th>
      <th scope="col" style="width:20%">Nume</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let publisher of publishers;let i=index">
      <th scope="row">{{publisher.id}}</th>
      <td>{{publisher.name}}</td>
      <td><a class=" dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false"></a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="showM1(publisher.id)"><i class="fas fa-pen"></i> Editare</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="deletePublisher(publisher.id)"><i class="fas fa-eraser"></i> Stergere</a>
        </div>
      </td>


    </tr>


    </tbody>
  </table>

  </div>



  <div class="writer">
    <p>Scriitori</p>
    <table class="table table-striped ">
      <thead>
      <tr>
        <th scope="col" style="width:10%">ID</th>
        <th scope="col" style="width:30%">Nume</th>
        <th scope="col" style="width:20%">Nationalitate</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let writer of writers;let i=index">
        <th scope="row">{{writer.id}}</th>
        <td>{{writer.name}}</td>
        <td>{{writer.nationality}}</td>

        <td><a class=" dropdown-toggle"  id="navbarDropdown2" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"></a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" (click)="showM2(writer.id)"><i class="fas fa-pen"></i> Editare</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="deleteWriter(writer.id)" ><i class="fas fa-eraser"></i> Stergere</a>
          </div>
        </td>


      </tr>


      </tbody>
    </table>

  </div>


  <div class="book">
    <p>Carti</p>
    <table class="table table-striped " >
      <thead>
      <tr>
        <th scope="col" style="width:10%">ID</th>
        <th scope="col" style="width:30%">Nume</th>
        <th scope="col" style="width:30%">Popularitate</th>
        <th scope="col" style="width:30%">An publicare</th>
        

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books;let i=index">
        <th scope="row">{{book.id}}</th>
        <td>{{book.name}}</td>
        <td>{{book.popularity}}</td>
        <td>{{book.publicationYear}}</td>
       


        <td><a class=" dropdown-toggle" id="navbarDropdown3" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"></a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown3">
            <a class="dropdown-item" (click)="showM3(book.id)"><i class="fas fa-pen"></i> Editare</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="deleteBook(book.id)"><i class="fas fa-eraser"></i> Stergere</a>
          </div>
        </td>


      </tr>


      </tbody>
    </table>

  </div>


</div>
<app-edit-publisher-modal #editPublisherModal (change)="onEditFinished($event)" ></app-edit-publisher-modal>
<app-edit-book-modal #editBookModal (change)="onEditFinished($event)" ></app-edit-book-modal>
<app-edit-writer-modal #editWriterModal (change)="onEditFinished($event)" ></app-edit-writer-modal>
