
<div class="container">
  <app-header></app-header>
  <router-outlet></router-outlet>
</div>

<!-- <p>
  Start editing to see some magic happen :)
</p>
https://stackoverflow.com/questions/47193757/how-to-set-different-itmes-style-in-ngfor/47193796#47193796 -->
<!-- <ul>
    <li class="hero" [ngStyle]="{'color': getRandomColor()}" *ngFor="let hero of heroes">
      {{ hero }}
    </li>
</ul> -->
