<!-- <button (click)="play()">Play</button>
<button (click)="pause()">Pause</button>
<button (click)="stop()">Stop</button> -->

<div class="container">
  <div>
    <div id="container-content">
      <form class="form-inline active-cyan-2 col-4 col-sm-4 px-0 mt-2">
        <input
          class="form-control form-control-sm mr-3 w-75 novalidate"
          type="text"
          placeholder="Search"
          aria-label="Search"
          name="search"
          [(ngModel)]="searchText"
          autocomplete="off"
        />
        <i class="fa fa-search" aria-hidden="true"></i>
      </form>

      <!-- <button class="button" onclick="setColor()">Schimba culoarea</button> -->
      <div class="container">
      
        <div class="row pl-5">
          <ng-container *ngFor=" let book of books | searchFilter: { writerName: searchText, name: searchText, bookName: searchText, publicationYear: searchText }; let ind = index">
            <div class="view col mb-3 mr-3 p-0 hoverable" (click)="showDM(book.id)">
              <img [src]="book.img" class="img-fluid z-depth-1 rounded" alt="hoverable"/>

              <div class="detail">
                <p id="p1">{{ book.name }}</p>
                <p id="p1">{{ book.writerName }}</p>
                
               
                
              </div>
            </div>
            <div class="w-100" *ngIf="ind != 0 && (ind + 1) % 4 == 0"></div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<iframe width="500" height="150"
src="https://onlineradiobox.com/ro/profmro/?cs=ro.radiozu">
</iframe>
<iframe width="500" height="150"
src="https://onlineradiobox.com/ro/europafm/?cs=ro.europafm">
</iframe>
<iframe width="500" height="150"
src="https://onlineradiobox.com/ro/kiss/?cs=ro.kiss">
</iframe>

<app-detail-modal #detailModal></app-detail-modal>