.detail {
  font-size: 20px;
  font-weight: 400;
}
#p1 {
  padding-left: 20px;
  text-align: center;
  font-weight: 500;
  padding-top: 5px;
  height:60px;
  max-height: 79px;
  margin-bottom: 0;
  overflow: hidden;
}

#container-content {
  padding: 30px;
  text-align: center;
}

form {
  margin: auto;
  padding-bottom: 30px;
}

.container {
  max-width: 90%;
}

.add {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 22px;
  color: black;
}

img {
  width: 100%;
}

.view .mask {
  height: 88%;
}
