<div class="container">
    <div style="text-align:center">
      <h2>Contact</h2>
      <p>Numele noastre sunt sunt Alex, Vlad, Octav si Catalin, suntem studenti in anul 3 la Facultatea de Matematica si Informatica si ne-am decis sa realizam o aplicatie menita sa ajute cateva librarii cu care am colaborat.</p>
      <p>Pentru a rezerva o carte sau mai multe, ne puteti trimite un mail cu cartea/cartile dorite.</p>
      <p>Pentru orice intrebare sau nelamurire, puteti sa ni le adresati in sectiunea de mai jos.</p>
      <p>In sectiunea de mai jos avem si o harta cu toate locatiile noastre.</p>
      <p>Adresa noastra de email: avoc@gmail.com</p>
    </div>
    <div class="row">
      <div class="column">
        <img src="https://harta-bucuresti.info/harta/fb.png" style="width:100%">
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">Prenume</label>
          <input type="text" id="fname" name="firstname" placeholder="Prenumele dvs..">
          <label for="lname">Nume</label>
          <input type="text" id="lname" name="lastname" placeholder="Numele dvs..">
          <label for="country">Tara</label>
          <select id="country" name="country">
            <option value="australia">Romania</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
          <label for="subject">Subiect</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>