<div
  bsModal
  class="modal fade"
  #cartModal="bs-modal"
  tabindex="-1"


>
  <div class="modal-dialog">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title">Cosul tau</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.hide()"
        >
          <span>×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Carti</th>

              <th>Stergere</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; let i = index">
              <th scope="row">{{ i }}</th>
              <td>{{ product.name }}</td>

              <td>
                <a (click)="delete(i)"><i class="fas fa-times"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Footer-->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary"
          data-dismiss="modal"
          (click)="modal.hide()"
        >
          Inchide
        </button>
        <button class="btn btn-primary" (click)="modal.hide()">
          Checkout
        </button>
      </div>
    </div>
  </div>
</div>
