<h1>Adauga elemente</h1>
<div class="container">

<div id="text">
  <p style="display: inline; margin-right: 10px; ">Adaugati</p>
  <div *ngFor="let option of options" style="display: inline; margin-left:10px; ">
       <input type="radio" name="option" [value]="option" (change)="radioChange($event)" checked="checked"><i>{{option}}</i>
  </div>
</div>

<div class="form-container border ">

  <form class="text-center " [formGroup]="addBookForm"  *ngIf="selectedOption === 'Book'">

    <input type="text"  class="form-control mb-4" placeholder="Nume carte" formControlName="name"
       autocomplete="off"   >

    <input type="text"  class="form-control mb-4" placeholder="Popularitate" formControlName="popularity"
         autocomplete="off"  >

    <input type="text"  class="form-control mb-4" placeholder="An publicare" formControlName="publicationYear"
         autocomplete="off"  >

     <input type="text"  class="form-control mb-4" placeholder="ID scriitor" formControlName="writerId"
         autocomplete="off"  >
         
     <input type="text"  class="form-control mb-4" placeholder="ID librarie" formControlName="libraryId"
         autocomplete="off"  >

     <input type="text"  class="form-control mb-4" placeholder="ID editura" formControlName="publisherId"
         autocomplete="off"  >
       
  </form>



  <form class="text-center  " [formGroup]="addWriterForm" *ngIf="selectedOption === 'Writer'">

    <input type="text"  class="form-control mb-4" placeholder="Nume scriitor" formControlName="name"
         autocomplete="off" >

    <input type="text"  class="form-control mb-4" placeholder="Nationalitate" formControlName="nationality"
          autocomplete="off" >

     <input type="text"  class="form-control mb-4" placeholder="Carte scriitor" formControlName="bookWriter"
          autocomplete="off"  >

     <input type="text"  class="form-control mb-4" placeholder="Categorie scriitor" formControlName="writerCategory"
         autocomplete="off"  >

  </form>


  

  <form class="text-center  " [formGroup]="addPublisherForm"  *ngIf="selectedOption === 'Publisher'">

    <input type="text"  class="form-control mb-4" placeholder="Nume editura" formControlName="name"
         autocomplete="off" >

     <input type="text"  class="form-control mb-4" placeholder="Nume carte" formControlName="bookPublisher"
         autocomplete="off"  >

  </form>



  <button mdbBtn color="danger" block="true"  type="submit" (click)="add()" [disabled]="currentFormRef.invalid" >Add</button>
    <p *ngIf="success" style="color: green; font-size: 22px;">{{selectedOption.toUpperCase()}} added successfully</p>
    <p *ngIf="success === false" style="color: red; font-size: 22px;">Something went wrong</p>
</div>
</div>

