#modal {
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
}
img {
  max-width: 90%;
  margin-top: 50px;
  max-height: 100%;
  margin-bottom: 50px;
}

.details p {
  display: inline;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 10px;
}

.details {
  padding: 30px;
  padding-left: 0;
  width: 100%;
}

#studio {
  margin-left: 50px;
  display: block;
}

ol {
  font-size: 20px;
  margin-top: 10px;
}

button {
  text-transform: initial;
  font-style: italic;
  display: block;
  font-size: 15px;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
}

span {
  display: block;
  font-size: 25px;
  color: black;
  font-weight: 500;
  text-align: center;
  font-style: italic;
}

.button {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

#message {
  font-size: 20px;
  font-weight: 400;
  color: blue;
  font-style: italic;
}

.p{
  text-indent: 100em;
}