<div bsModal class=" row modal fade" #detailModal="bs-modal" tabindex="-1" style="margin-top:200px;">
  <div class="col-md-6 col-sm-6 col-lg-8 mx-auto my-4" id="modal">

    <div class="container col-lg-12">
      <div class="row">

        <div class="col-lg-4" style="padding-right:0">
          <img src ="https://upload.wikimedia.org/wikipedia/commons/6/65/John_Lavery_%27Miss_Auras%2C_The_Red_Book%27_c.1892%2C_oil.jpg">
        </div>
   
      <div class="col-lg-8" style="padding-left:10px">
        <div class="row">
          <div class="details">
            <p> Titlul cartii: {{book.name}}</p><br>
            <p> Autor: </p><p *ngFor = "let writer of book.writerName" > {{writer}} </p><br>
            <p> Anul publicarii: {{book.publicationYear}}</p><br>
            <p> Popularitate: {{book.popularity}}</p><br>
            <p> Edituri disponibile:</p><li><p>{{book.publisherName}}</p></li><br>
          
            <p> Librarii disponibile: </p> <li><p *ngFor = "let library of book.libraryName">{{library}},</p></li><br>
          
          
          
          
          

          



        </div>
        </div>
        <div class="row">
          <div class="button">
       
          <button  type="button" class="btn btn-dark" (click)="addToCart(book)">Adauga in cos</button>
         
        </div>
        </div>
      </div>


      </div>
    </div>



</div>


  </div>



