<div bsModal class=" row modal fade" #editPublisherModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="editPublisherModal"
     aria-hidden="true" (onHide)=" this.editPublisherForm.reset();">
  <div class="col-md-6 col-sm-6 col-lg-4 mx-auto my-4" *ngIf="editPublisherForm">


    <form class="text-center border border-light p-5" [formGroup]="editPublisherForm">

      <p class="h4 mb-4">Publisher</p>

      <label for="name">Name</label>
      <input type="text"  id="name" class="form-control mb-4"   formControlName="name" autocomplete="off" >
      <button mdbBtn color="danger" block="true" class="my-4"  [disabled]="!this.editPublisherForm.valid || this.editPublisherForm.pristine" (click)='editPublisher()'>Edit</button>







    </form>

  </div>
</div>


