<div bsModal class=" row modal fade" #editBookModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="editBookModal"
     aria-hidden="true" (onHide)=" this.editBookForm.reset();">
  <div class="col-md-6 col-sm-6 col-lg-4 mx-auto my-4" *ngIf="editBookForm">


    <form class="text-center border border-light p-5" [formGroup]="editBookForm"  >

      <p class="h4 mb-4">Edit Book</p>
      <input type="text"  class="form-control mb-4"   formControlName="name" placeholder="Enter name" autocomplete="off">
      <input type="text"  class="form-control mb-4"   formControlName="popularity" placeholder="Enter popularity" autocomplete="off">
      <input type="text"  class="form-control mb-4"   formControlName="publicationyear" placeholder="Enter publication year" autocomplete="off">
      <button mdbBtn color="danger" block="true" class="my-4"  [disabled]="editBookForm.invalid || editBookForm.pristine" (click)="editBook()">Edit</button>

    </form>

  </div>
</div>


