<div bsModal class=" row modal fade" #editWriterModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="editWriterModal"
     aria-hidden="true" (onHide)=" this.editWriterForm.reset();">
  <div class="col-md-6 col-sm-6 col-lg-4 mx-auto my-4" *ngIf="editWriterForm">

    <form class="text-center border border-light p-5 " 
    [formGroup]="editWriterForm"  >

      <p class="h4 mb-4">Edit Writer</p>
      <input type="text"  class="form-control mb-4"  formControlName="name" placeholder="Enter name" autocomplete="off">
      <input type="text"  class="form-control mb-4"  formControlName="nationality" placeholder="Enter nationality" autocomplete="off">      
      <button mdbBtn color="danger" block="true" class="my-4"  [disabled]="editWriterForm.invalid || editWriterForm.pristine" (click)="editWriter()">Edit</button>

    </form>

  </div>
</div>


